<!-- pages/templates/base.html -->
<header>

    <a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a>
  
  </header>
  
  {% block content %}
  {% endblock content %}


  <footer>
    Social Media Links:
  </footer>

  <footer>
    Instagram: https://www.instagram.com/lllaurrreennn?igsh=aDUyZml0emtxbms2&utm_source=qr
  </footer>

  <footer>
    Facebook: https://www.facebook.com/lauren.stutes.37?mibextid=LQQJ4d
  </footer>

  <footer>
    LinkedIn: www.linkedin.com/in/lauren-stutes-28237827b
  </footer>

  <p>
  <footer>
    Contact me for more info!
  </footer>

  <footer>
    Telephone: 337-384-9554
  </footer>

  <footer>
    Email: laurenstutes6@gmail.com
  </footer>
  </p>
